@import "ui/styles/colors";

.container {
  height: 80%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  animation: scanTransition 300ms linear;
  animation-delay: 2000ms;
  animation-fill-mode: forwards;
  opacity: 0;

  .leftContainer {
    border: outset 4px $gray;
    border-radius: 15px;
    height: 55%;
    width: 49%;
  }
  .rightContainer {
    border: outset 4px $gray;
    border-radius: 15px;
    height: 100%;
    width: 49%;
    padding: 20px;
  }
}

@keyframes scanTransition {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
