@import "ui/styles/colors";

.container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 350px;
  animation: homeTransition 300ms linear;
  animation-delay: 2000ms;
  animation-fill-mode: forwards;
  opacity: 0;

  .title {
    font-family: pixeled;
    font-size: 64px;
    text-shadow: 3px 3px 0px $white;
  }

  .connectButton {
    height: 70px;
    width: 200px;
    font-family: pixeled;
    font-size: 18px;
    color: $gray;
    line-height: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: none;
    border: outset 4px $gray;
    border-radius: 2px;
    transition: 200ms;

    &:hover {
      cursor: pointer;
      transform: translateY(-2px);
    }
  }
}

@keyframes homeTransition {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
