.beholder {
  position: absolute;
  top: 250px;
  right: 350px;
  z-index: 999;
}

.home {
  width: 500px;
  opacity: 0;
  animation: homeTransition 2000ms linear, beholderIdle 2000ms infinite;
  animation-fill-mode: forwards;
}

.scan {
  width: 500px;
  animation: scanTransition 2000ms ease, beholderIdle 2000ms infinite;
  animation-fill-mode: forwards;
}

.loudnessZero {
  filter: contrast(2);
}
.loudnessOne {
  filter: contrast(1.8);
}
.loudnessTwo {
  filter: contrast(1.6);
}
.loudnessThree {
  filter: contrast(1.4);
}
.loudnessFour {
  filter: contrast(1.2);
}
.loudnessFive {
  filter: contrast(1);
}

@keyframes beholderIdle {
  0% {
    transform: translateY(-3px);
  }
  50% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(-3px);
  }
}

@keyframes homeTransition {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes scanTransition {
  20% {
    top: 250px;
    right: 350px;
  }

  100% {
    top: 395px;
    right: 650px;
  }
}
