@import "ui/styles/constants";
@import "ui/styles/colors";

.App {
  height: $page_height;
  width: $page_width;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $black;
  color: $gray;

  .appContainer {
    height: $app_container_height;
    width: $app_container_width;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@font-face {
  font-family: "pixeled";
  src: local("pixeled"), url(ui/assets/fonts/pixeled.ttf) format("truetype");
}
