.container {
  height: 100%;
  width: 100%;

  .terminal {
    font-size: 18px;
    width: 100%;
    max-height: 100%;
    overflow: auto;

    .dot1 {
      animation: dotSequence 1000ms ease-out infinite;
      opacity: 0;
    }
    .dot2 {
      animation: dotSequence 1000ms ease-out infinite;
      animation-delay: 100ms;
      opacity: 0;
    }
    .dot3 {
      animation: dotSequence 1000ms ease-out infinite;
      animation-delay: 200ms;
      opacity: 0;
    }
  }
}
@keyframes dotSequence {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
